.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerInput {
  display: flex;
  width:100%;
  padding: 10px;
  flex-direction: row;
}
.containerInput input {
  border-radius:0px;
  border-right: none;
}
.containerInput button {
  border-radius: 0px;
}

.table-responsive {
  text-align: center;
  display: flex;
  justify-content:center;
  background-color: #efefef;
}